body{
    background-color: #73a6c5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 30px;

}

a{
    color: black;
    text-decoration: none;
}