body{
    background-color:  #ffffff;;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;;
    align-items: center;
    padding: 30px;

}

a{
    color: red;
    text-decoration: none;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 15px;
    border: 3px solid #ff0000;
}

.imagem{
    display: flex;
    justify-content: space-between;
}

.nome{
    text-align: center;
}

h1{
    color: red;
}

h2{
    font-size: 25px;
}

h3{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

p{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

footer img{
    width: 100px;
    height: 100px;
    border: none
}

#face{
    color: black;
}

#git{
    color: black;
}

#link{
    color: black;
}

#final{
    text-align: center;
    font-size: 13px;
}

#texto{
    text-align: center;
    margin-top: 50px;
    font-size: 25PX;
    color: royalblue;
    stroke: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}